<div class="title-container">
  <h2><%= @recipe.title %></h2>
</div>
<h3>Rating: <%= @recipe.rating %> ⭐ </h3>
<br>
  <h4>Ingredient:</h4>
<ul>
  <li> <%= @recipe.ingredient %>
  </li>
</ul>
<br>
<h4>Instructions:</h4>
<p> <%= @recipe.instruction %></p>
<br>
<h4>Notes:</h3>
<p><%= @recipe.content_body %></p>

<p>Tags:</p>

  <% if @recipe.tags.any? %>
  <% recipe_tags = @recipe.tags.sort_by { |k| k[:tag] } %>
  <% recipe_tags.tags.each do |tag| %>
  <span>
        <%= link_to tag.category, recipe_tag_path(@recipe, tag) %>
  </span>
  <% end %>
<% else %>
  <p>No tags are listed for this recipe.</p>
<% end %>

  <div class="edit_delete">
    <div class="thumbmail">
      <div class="caption">
      <br>
        <p>
          <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-default" %>
          <%= link_to "Delete", recipe_path(@recipe), class: "btn btn-danger",
                                                      :data => { :confirm => "Are you sure you want to delete #{@recipe.title}?",
                                                                 :method => "delete" } %>
        </p>
      </div>
    </div>
  </div>

<p><%= link_to "Add a tag", new_recipe_tag_path(@recipe) %></p>
<p><%= link_to "Return to recipes", recipes_path %></p>