<!DOCTYPE html>
<html lang ="en">
  <head>
    <title>RecipeBox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': "reload" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  <%= render "layouts/navbar_style" %>

  <div class="title">
    <h1>Recipe Box</h1>
  </div>

<section class="container">
  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash alert <%= alert_class(key) %>"><%= value %></div>
    <% end %>
  </div>

      <%= yield %>
    </section>
  </body>
</html>
